.navBar {
  width: 100%;
  min-height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0;
  z-index: 9;
  &-logo {
    width: 180px;
    position: relative;
    min-height: 100px;
    .img-logo {
      width: 75%;
      object-fit: contain;
      cursor: pointer;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    &-nav {
      .menu {
        margin-bottom: 0;
        &-item {
          margin-right: 5px;
          padding: 5px 8px;
          cursor: pointer;
          position: relative;
          border-bottom: 0px solid transparent;
          font-weight: bold;
          transition: all 0.5s;
          &:hover {
            opacity: 0.9;
            border-bottom: 2px solid #fff;
            .menu-item-sub {
              visibility: visible;
            }
          }
          &-sub {
            visibility: hidden;
            width: 200px;
            position: absolute;
            padding-top: 15px;
            left: 0;
            top: 0;
            transition: all 0.5s;
            ul {
              background-color: #333;
              padding: 7px 0 7px 10px;
              display: flex;
              flex-direction: column;
              border-radius: 10px;
              color: #fff;
              font-weight: 400;
              li {
                color: #fff !important;
                opacity: 1;
                text-align: start;
                &-hover {
                  opacity: 0.7;
                }
                .item-span {
                  color: #d7d7d7;
                  text-decoration: none !important;
                  &:hover {
                    transition: 0.1s;
                    color: white;
                  }
                }
              }
              a {
                list-style: none;
                color: #d7d7d7;
                &:hover {
                  font-weight: bold;
                  transition: 0.1s;
                  color: white;
                }
              }
            }
          }
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    &-search {
      position: relative;
      width: 310px;
      input {
        width: 100%;
        color: #fff;
        border: 1px solid #707070ad;
        border-radius: 10px;
        font-weight: 300;
        padding: 8px 17px;
        outline: 0;
        &:focus {
          box-shadow: 0 0 7px #333;
          border: 0;
        }
      }
      .btn {
        position: absolute;
        color: #fff;
        border: none;
        right: 5%;
        top: 0%;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}

.menu-item {
  display: inline-block;
  .menu-item-sub {
    ul {
      li {
        list-style: none;
      }
    }
  }
}
